:root {
    --size-large: 30px;
    --size-normal: 24px;
    --size-small: 20px;
    --time-slow: 500ms;
    --time-normal: 300ms;
    --time-fast: 120ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

body::-webkit-scrollbar {
    display: none;
}

#slide-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(75deg, rgb(145, 152, 229), rgb(230, 100, 101));
    z-index: 9999;
}

#to-top {
    position: fixed;
    bottom: calc(var(--size-large) * -1);
    right: 50px;
    width: var(--size-large);
    height: var(--size-large);
    cursor: pointer;
    transition: bottom var(--time-slow);
    z-index: 9999;
}

#to-top.show {
    bottom: 70px;
}

@keyframes bob {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes bob-float {
    100% {
        transform: translateY(-5px);
    }
}

#to-top:hover {
    animation-name: bob-float, bob;
    animation-duration: var(--time-normal), calc(3 * var(--time-normal));
    animation-delay: 0, var(--time-normal);
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.banner {
    height: 120px;
    -webkit-user-drag: none;
    display: block;
    object-fit: contain;
    margin: 70px auto 0;
}

.search-container {
    width: 50%;
    height: 42px;
    margin: 30px auto;
    padding: 4px 6px;
    position: relative;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px 1px rgba(0, 0, 0, 0.09);

    &:has(#relate-container.show) {
        border-radius: 10px 10px 0 0;
    }
}

.input-container {
    width: 100%;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;

    & img {
        cursor: pointer;
        width: var(--size-normal);
        height: var(--size-normal);
        background-color: white;
    }
}

.engines-container {
    --distance: -45px;
    --ang45: calc(var(--distance) / sqrt(2));
    position: relative;
    width: var(--size-normal);
    height: var(--size-normal);
}

.engine {
    position: absolute;
    transition: transform var(--time-normal);
    border-radius: 4px;
}

.engine:not(:last-child) {
    transform: scale(0.2);
}

.engine:last-child:hover {
    transform: scale(1.1);
}

.engine.show {
    border-radius: 4px;
    box-shadow: 0 0 4px dimgray;
}

.engine:nth-child(1).show {
    transition-delay: calc(0 * var(--time-fast));
    transform: translateY(var(--distance)) scale(1);
}

.engine:nth-child(2).show {
    transition-delay: calc(1 * var(--time-fast));
    transform: translate(var(--ang45), var(--ang45)) scale(1);
}

.engine:nth-child(3).show {
    transition-delay: calc(2 * var(--time-fast));
    transform: translateX(var(--distance)) scale(1);
}

#search-content {
    width: calc(100% - 2 * (var(--size-normal) + 4px));
    padding: 0 10px;
    border: none;
    outline: none;
    line-height: 30px;
    font-size: 16px;
    background-color: white;
}

#search-image:hover {
    transition: transform var(--time-normal);
    transform: scale(0.9);
}

#relate-container {
    width: 100%;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: white;
    display: none;
    border-radius: 0 0 10px 10px;

    &>div {
        width: calc(50% - 1px);
    }
}

#relate-container.show {
    display: flex;
}

#relate-container.show:has(.relate-item) {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px 1px rgba(0, 0, 0, 0.09);
}

#local-relate {
    border-right: 2px solid rgba(168, 168, 168, 0.5);
}

.relate-item {
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 4px 10px;
}

.relate-item:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

#local-relate>.relate-item:last-child {
    border-radius: 0 0 0 10px;
}

#engine-relate>.relate-item:last-child {
    border-radius: 0 0 10px 0;
}

.relate-item:hover {
    background-color: #F7F7F7;
}

.relate-icon {
    width: var(--size-small);
    height: var(--size-small);
}

.relate-text {
    width: calc(100% - 2 * (8px + var(--size-small)));
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.relate-delete {
    width: var(--size-small);
    height: var(--size-small);
    cursor: pointer;
}

.relate-delete:hover {
    transform: scale(1.08);
}

.link-blocks-container {
    width: 80%;
    margin: 0 auto 20px;
    min-height: calc(100vh - 312px);
    border: 1px solid black;
    transition: all var(--time-normal);

    & svg {
        width: var(--size-small);
        height: var(--size-small);
    }
}

.link-blocks-title-container {
    width: 100%;
    height: 30px;
    background-color: rgb(46, 46, 46);
    color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.link-blocks-title, .link-blocks-tip {
    line-height: var(--size-small);
}

.link-blocks-tip {
    font-size: 0.9em;
    color: gray;
}

.link-blocks-actions, .link-block-actions {
    display: flex;
    column-gap: 8px;
}

.link-blocks-actions>svg {
    fill: white;
    cursor: pointer;
    transition: all var(--time-normal);
}

#link-block-add:hover {
    fill: #1AFA29;
}

#link-blocks-collapse:hover {
    fill: #1296DB;
}

#link-blocks {
    width: 100%;
    padding: 2px 2px 5px;
    row-gap: 5px;
}

.link-block-container {
    width: 100%;
}

.link-block-title-container {
    width: 100%;
    padding: 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    background-color: whitesmoke;
}

.link-block-title {
    border: none;
    outline: none;
    padding: 0 4px;
    line-height: var(--size-small);
}

.link-block-title:focus {
   outline: 1px solid black;
}

.link-block-actions>svg {
    cursor: pointer;
    transition: all var(--time-normal);
}

.link-block-delete {
    fill: rgb(224, 16, 16);
    transform: rotateZ(45deg);
}

.link-block-delete:hover {
    transform: rotateZ(135deg);
}

.link-block-collapse {
    fill: rgb(40, 40, 40);
}

.link-block-collapse:hover {
    fill: skyblue;
}

.info {
    width: 100%;
    text-align: center;
    line-height: 66px;

    background-color: black;
    color: white;
}